@model IEnumerable<Employee>
   @{ 
       //Layout = "_Layout2"; Layout = null // if we do this the view statrt file in the directory will override
       ViewBag.Title = "Employee List";
   }


<div class= "card-deck">
    @foreach (var employee in Model)
    {
        var photoPath = "~/images/" + (employee.PhotoPath ?? "emp.jpg");

        <div class="card m-3 col-md-3">
            <div class="card-header">
                <h3>@employee.Name</h3>
            </div>
            <img style="height:200px; width:auto" class="card-img" src="@photoPath" asp-append-version="true"/>
            <!--image tag helper provides cache busting behaviour for static image files -->
           
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@employee.Id" class="btn btn-primary">Display</a>
                @{
                    //@Url.Action, @Html.ActionLink can also be used
                }
                <a href="/home/details/@employee.Id" class="btn btn-primary">View</a>
                <a asp-controller="home" asp-action="edit" asp-route-id="@employee.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

      
  